__Manipulating Data with Pandas: Selecting one Column__

In [18]:
import pandas as pd
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
col =df['Fare']
print(col)

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

__Manipulating Data with Pandas: Selecting Multiple Columns__

In [19]:
import pandas as pd
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
small_df = df[['Age',  'Sex', 'Survived']]
print(small_df.head())

    Age     Sex  Survived
0  22.0    male         0
1  38.0  female         1
2  26.0  female         1
3  35.0  female         1
4  35.0    male         0

__Manipulating Data with Pandas: Creating a Column__

In [23]:
import pandas as pd
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
df['Male'] = df['Sex'] == 'male'   #EdNote: this script does not change the column name from Sex to Male? hmmmm?
print(df.head())

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children  \
0         0       3    male  22.0                 1                 0
1         1       1  female  38.0                 1                 0
2         1       3  female  26.0                 0                 0
3         1       1  female  35.0                 1                 0
4         0       3    male  35.0                 0                 0

      Fare   Male
0   7.2500   True
1  71.2833  False
2   7.9250  False
3  53.1000  False
4   8.0500   True